[package]
name = "wrpc"
version = "0.1.1"
description = "WebAssembly component-native RPC framework based on WIT"

authors.workspace = true
categories.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[workspace.package]
authors = ["Roman Volosatovs <rvolosatovs@riseup.net>"]
categories = ["wasm"]
edition = "2021"
license = "Apache-2.0 WITH LLVM-exception"
repository = "https://github.com/wrpc/wrpc"

[workspace]
members = ["crates/*", "examples/rust/*"]

[features]
default = ["bin", "nats", "wasmtime"]

bin = [
    "dep:clap",
    "dep:serde",
    "dep:serde_json",
    "dep:tokio",
    "dep:wit-bindgen-core",
    "dep:wit-bindgen-wrpc-go",
    "dep:wrpc-cli",
    "dep:wrpc-wasmtime-nats-cli",
    "tokio/rt-multi-thread",
    "tokio/sync",
    "wit-bindgen-wrpc-go/clap",
    "wit-bindgen-wrpc-rust/clap",
]
nats = ["dep:async-nats", "dep:wrpc-transport-nats", "wrpc-cli/nats"]
wasmtime = ["dep:wrpc-runtime-wasmtime"]

[[bin]]
name = "wit-bindgen-wrpc"
required-features = ["bin"]

[[bin]]
name = "wrpc-keyvalue-nats"
required-features = ["bin", "nats"]

[[bin]]
name = "wrpc-wasmtime-nats"
required-features = ["bin", "nats", "wasmtime"]

[dependencies]
anyhow = { workspace = true, features = ["std"] }
async-nats = { workspace = true, optional = true }
clap = { workspace = true, features = [
    "color",
    "derive",
    "error-context",
    "help",
    "std",
    "suggestions",
    "usage",
], optional = true }
serde = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }
tokio = { workspace = true, optional = true }
tracing = { workspace = true, features = ["attributes"] }
wit-bindgen-core = { workspace = true, optional = true }
wit-bindgen-wrpc = { workspace = true }
wit-bindgen-wrpc-go = { workspace = true, optional = true }
wit-bindgen-wrpc-rust = { workspace = true, optional = true }
wrpc-cli = { workspace = true, optional = true }
wrpc-interface-blobstore = { workspace = true }
wrpc-interface-http = { workspace = true }
wrpc-runtime-wasmtime = { workspace = true, optional = true }
wrpc-transport = { workspace = true }
wrpc-transport-nats = { workspace = true, optional = true }
wrpc-types = { workspace = true }
wrpc-wasmtime-nats-cli = { workspace = true, optional = true }

[dev-dependencies]
anyhow = { workspace = true }
async-nats = { workspace = true }
bytes = { workspace = true }
futures = { workspace = true, features = ["async-await"] }
http-body = { workspace = true }
http-body-util = { workspace = true }
hyper = { workspace = true, features = ["server"] }
hyper-util = { workspace = true, features = ["server-auto", "tokio"] }
reqwest = { workspace = true }
tokio = { workspace = true, features = ["process"] }
wrpc-cli = { workspace = true }
wrpc-interface-http = { workspace = true, features = [
    "http",
    "http-body",
    "hyper",
    "wasmtime-wasi-http",
] }

[workspace.dependencies]
anyhow = { version = "1", default-features = false }
async-nats = { version = "0.33", default-features = false }
async-trait = { version = "0.1", default-features = false }
bitflags = { version = "2", default-features = false }
bytes = { version = "1", default-features = false }
clap = { version = "4", default-features = false }
futures = { version = "0.3", default-features = false }
heck = { version = "0.5", default-features = false }
http = { version = "1", default-features = false }
http-body = { version = "1", default-features = false }
http-body-util = { version = "0.1", default-features = false }
hyper = { version = "1", default-features = false }
hyper-rustls = { version = "0.27", default-features = false }
hyper-util = { version = "0.1", default-features = false }
leb128 = { version = "0.2", default-features = false }
proc-macro2 = { version = "1", default-features = false }
quote = { version = "1", default-features = false }
reqwest = { version = "0.11", default-features = false }
rustls = { version = "0.23", default-features = false }
rustls-native-certs = { version = "0.7", default-features = false }
serde = { version = "1", default-features = false }
serde_json = { version = "1", default-features = false }
syn = { version = "2", default-features = false, features = ["printing"] }
test-helpers = { default-features = false, path = "./crates/test-helpers" }
tokio = { version = "1", default-features = false }
tokio-stream = { version = "0.1", default-features = false }
tower = { version = "0.4", default-features = false }
tracing = { version = "0.1", default-features = false }
tracing-subscriber = { version = "0.3", default-features = false }
url = { version = "2", default-features = false }
wasmcloud-component-adapters = { version = "0.9", default-features = false }
wasmparser = { version = "0.207", default-features = false }
wasmtime = { version = "20", default-features = false }
wasmtime-wasi = { version = "20", default-features = false }
wasmtime-wasi-http = { version = "20", default-features = false }
webpki-roots = { version = "0.26", default-features = false }
wit-bindgen = { version = "0.24", default-features = false }
wit-bindgen-core = { version = "0.24", default-features = false }
wit-bindgen-wrpc = { version = "0.3.6", default-features = false, path = "./crates/wit-bindgen" }
wit-bindgen-wrpc-go = { version = "0.1.0", default-features = false, path = "./crates/wit-bindgen-go" }
wit-bindgen-wrpc-rust = { version = "0.3.3", default-features = false, path = "./crates/wit-bindgen-rust" }
wit-bindgen-wrpc-rust-macro = { version = "0.3.4", default-features = false, path = "./crates/wit-bindgen-rust-macro" }
wit-component = { version = "0.202", default-features = false }
wit-parser = { version = "0.202", default-features = false }
wrpc-cli = { version = "*", path = "./crates/cli", default-features = false }
wrpc-interface-blobstore = { version = "0.16", path = "./crates/interface-blobstore", default-features = false }
wrpc-interface-http = { version = "0.22", path = "./crates/interface-http", default-features = false }
wrpc-runtime-wasmtime = { version = "0.16", path = "./crates/runtime-wasmtime", default-features = false }
wrpc-transport = { version = "0.24.2", path = "./crates/transport", default-features = false }
wrpc-transport-nats = { version = "0.21", path = "./crates/transport-nats", default-features = false }
wrpc-types = { version = "0.6", path = "./crates/types", default-features = false }
wrpc-wasmtime-nats-cli = { version = "*", path = "./crates/wasmtime-nats-cli", default-features = false }
