go 1.22.2

use (
	./examples/go/hello-client
	./examples/go/hello-server
	./examples/go/resources-server
	./examples/go/streams-client
	./examples/go/streams-server
	./go
	./tests/go
)

replace wrpc.io/go v0.0.3 => ./go
