go 1.22.2

use (
	./examples/go/complex-server
	./examples/go/hello-client
	./examples/go/hello-server
	./examples/go/streams-client
	./examples/go/streams-server
	./go
	./tests/go
)

replace github.com/bytecodealliance/wrpc/go v0.0.0-unpublished => ./go
