[package]
name = "wrpc-transport-nats"
version = "0.20.0"
description = "wRPC NATS transport"

authors.workspace = true
categories.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
anyhow = { workspace = true, features = ["std"] }
async-nats = { workspace = true }
bytes = { workspace = true }
futures = { workspace = true }
tokio = { workspace = true }
tower = { workspace = true }
tracing = { workspace = true, features = ["attributes"] }
wrpc-transport = { workspace = true }
