[package]
name = "wit-bindgen-wrpc-rust"
version = "0.4.0"
description = """
Rust bindings generator for wRPC, typically used through
the `wit-bindgen-wrpc` crate's `generate!` macro.
"""

authors.workspace = true
categories.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true

[lib]
test = false
doctest = false

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true, features = ["derive", "std"], optional = true }
heck = { workspace = true }
wit-bindgen-core = { workspace = true }
wrpc-introspect = { workspace = true }

[dev-dependencies]
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
test-helpers = { workspace = true }
wit-bindgen-wrpc = { path = "../wit-bindgen" }
wrpc-transport = { workspace = true }
