[package]
name = "wrpc-transport"
version = "0.24.1"
description = "wRPC core transport functionality"

authors.workspace = true
categories.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
anyhow = { workspace = true, features = ["std"] }
async-nats = { workspace = true }
async-trait = { workspace = true }
bytes = { workspace = true }
futures = { workspace = true }
leb128 = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
tower = { workspace = true, features = ["util"] }
tracing = { workspace = true, features = ["attributes"] }
wrpc-types = { workspace = true }

[dev-dependencies]
tracing-subscriber = { workspace = true, features = [
    "ansi",
    "env-filter",
    "fmt",
] }
