name: nix-flake-update

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  nix-flake-update:
    runs-on: ubuntu-24.04
    steps:
      - uses: rvolosatovs/nix-flake-update-action@7249aa67d87e2a195c376fe34c230af0862a9900 # v2.0.5
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}
          assignees: rvolosatovs
          reviewers: rvolosatovs
          delete-branch: true
          signoff: true
          labels: dependencies
