name: nix-flake-update

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  nix-flake-update:
    runs-on: ubuntu-24.04
    steps:
      - uses: rvolosatovs/nix-flake-update-action@fbf9785a8c450529ebd91985bcd167089081e52e # v3.0.0
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}
          assignees: rvolosatovs
          reviewers: rvolosatovs
          delete-branch: true
          signoff: true
          labels: dependencies
